<div class="container px-4">
    {{#if searchHistory}}
    <h4 class="mb-3">Search History</h4>
    <div class="row justify-content-center">
        {{#each searchHistory}}
        <div class="col-md-3 col-lg-2 col-5 border border-dark rounded-3 mb-3 p-2 mx-1 bg-white" onclick="location.href='/hotels?cityId={{this.cityId}}&hotelId=&checkIn={{this.checkIn}}&checkOut={{this.checkOut}}&pax={{this.pax}}'" style="cursor: pointer;">
            <h6 id="history-cityId{{this.cityId}}"><i class="fas fa-history"></i> CityId : {{this.cityId}}</h6>
            <small>Check-in : {{this.checkIn}}</small> <br>
            <small>Check-out : {{this.checkOut}}</small>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
